.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
<<<<<<< HEAD
}
=======
}
>>>>>>> 8433bff70a5a41e7867efaec6d5e2afa354d1916
